[prod]
Listen = tcp://:9999
Host = 127.0.0.1:9999
ContentPath = /path/to/some/lfs_content
AdminUser = admin
AdminPass = admin
Cert = mine.crt
Key = mine.key
Scheme = https
Public = true
MetaDB = lfs.db
RedisUrl = redis://localhost:6379/0
LdapServer = ldap://localhost:1389

[dev]
Listen = tcp://:9999
Host = 127.0.0.1:9999
ContentPath = /path/to/some/lfs_content
AdminUser = admin
AdminPass = admin
Cert = mine.crt
Key = mine.key
Scheme = https
Public = false
MetaDB = lfs.db
; BackingStore = cassandra
BackingStore = bolt
;BackingStore = redis
RedisUrl = redis://localhost:6379/0
;LdapServer = ldap://localhost:1389
; true/false
UseLdap = true
LdapBase = ou=people,o=mycompany
LdapUserObjectClass = person
LdapUserCn = uid
[test]
; Dont put anything else in here
RedisUrl = redis://localhost:6379/1
LdapServer = ldap://localhost:1389