<div class="container">
  <form method="POST" action="/mgmt/addProject">
    <input type="text" name="name" placeholder="Project Name">
    <button type="submit" class="btn">Add Project</button>
  </form>
  <table>
    <tr>
      <th>Name</th>
      <th>Oids</th>
    </tr>
    {{range .Projects}}
    <tr>
      <td valign="top" id={{.Name}} width="25%">{{.Name}}</td>
      <td width="55%">
        <div class="hidden oids">
          {{.Oids}}
        </div>
        <div class="oid-hidden">
          (Hidden)
        </div>
      </td>
      <td valign="top" width="20%">
        <a href="#" class="show-oids">Show/Hide OIDs</a>
      </td>
    </tr>
    {{end}}
  </table>
</div>
